.root {
	-fx-background-image: url("binary-background.png");
}

.BtnMain {
    -fx-color:#fff;
    -fx-background-color: linear-gradient(#91a1a3, #04363d, #04363d);
    -fx-background-radius: 100.0;
	-fx-background-insets: 0.0;
	-fx-text-fill: white;	
	-fx-font-family: "Verdana";
	-fx-padding: 15.0px 32.0px;
	-fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 18.0px;
}

.BtnMain:hover{
	-fx-color:#fff;
	-fx-cursor: hand;
	-fx-background-color:linear-gradient(#fff, #04363d);
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 1.0), 5.0, 0.0, 0.0, 1.0);
}

.SubBtn {
	-fx-color:#fff;
    -fx-background-color: linear-gradient(#91a1a3, #04363d, #04363d);
	-fx-text-fill: white;	
	-fx-font-family: "Verdana";
	-fx-padding: 10.0px 32.0px;
	-fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 18.0px;
}

.SubBtn:hover {
	-fx-background-color: linear-gradient(#fff, #fff, #91a1a3,#91a1a3);
    -fx-color:#fff;
	-fx-cursor: hand;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 1.0), 5.0, 0.0, 0.0, 1.0);
}

.SubSubBtn {
	-fx-color:#fff;
    -fx-background-color: linear-gradient(#91a1a3, #04363d, #04363d);
	-fx-text-fill: white;	
	-fx-font-family: "Verdana";
	-fx-padding: 6.0px 20.0px;
	-fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 14.0px;
}

.SubSubBtn:hover {
	-fx-background-color: linear-gradient(#fff, #fff, #91a1a3,#91a1a3);
    -fx-color:#fff;
	-fx-cursor: hand;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 1.0), 5.0, 0.0, 0.0, 1.0);
}

.TitleMenu {	
-fx-text-fill: linear-gradient(#91a1a3, #91a1a3, #04363d);
-fx-font-weight:bold;
-fx-font-family: 'Raleway',sans-serif;
-fx-font-size: 40.0px;
}

.SubTitleMenu {
-fx-text-fill: linear-gradient(#fff, #fff, #91a1a3,#91a1a3);
-fx-font-weight:bold;
-fx-font-family: 'Raleway',sans-serif;
-fx-font-size: 25.0px;
}

.SubSubTitleMenu {
-fx-text-fill: linear-gradient(#fff, #fff, #91a1a3,#91a1a3);
-fx-font-weight:bold;
-fx-font-family: 'Raleway',sans-serif;
-fx-font-size: 12.0px;
}

.BtnOption {
 	-fx-background-color: linear-gradient(#91a1a3, #04363d, #04363d);
    -fx-border: none;
    -fx-color: white;
	-fx-text-fill: white;	
    -fx-padding: 20.0px 80.0px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 18.0px;	
}

.BtnOption:hover {
	-fx-background-color: linear-gradient(#fff, #fff, #91a1a3,#91a1a3);
    -fx-color:#fff;
	-fx-cursor: hand;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 1.0), 5.0, 0.0, 0.0, 1.0);
}

.BtnBack {
	 	-fx-background-color: linear-gradient(#91a1a3, #04363d, #04363d);
    -fx-border: none;
    -fx-color: white;
	-fx-text-fill: white;	
    -fx-padding: 10.0px 20.0px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 8.0px;	
}

.BtnBack:hover {
	-fx-background-color: linear-gradient(#fff, #fff, #91a1a3,#91a1a3);
    -fx-color:#fff;
	-fx-cursor: hand;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 1.0), 5.0, 0.0, 0.0, 1.0);
}

.Txt {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.Txt:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}